body  {
    background-color: #3E1E17;
    padding: 0%;
    margin: 0%;
    width: 100vw;

}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem;
    height:30vw;
}
main {
    width: 100vw;
}
section {
    padding: 4rem;
}
h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.parcours {
    display: flex;
    width: 100vw;
}
.xp, 
.etudes {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.competences {
}
/* Profile pic*/
#photo-header {
    width: 400px;

}
/*Font size*/
header h1 {
    font-size: 65pt;
}
header p {
    font-size: 20pt;
}
/*Font color*/
.date {
    color:rgb(79, 44, 28);

}
header  {
    color: rgb(252, 252, 252);

}
.xp {
    color: #3E1E17;
}
.etudes, 
.about {
    color: rgb(194, 157, 123);
}
.competences,
.why {
    color:antiquewhite;
}
/* Background color*/
.xp, 
.why {
    background-color:rgb(194, 157, 123);

}
.competences {
    background-color:rgba(147, 119, 99, 0.65);
}
.etudes {
    background-color: antiquewhite;

}