body  {
    background-color: #3E1E17;
    padding: 0%;
    margin: 0%;
    max-width: 100vw;

}
body .navbar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(194, 157, 123);
}
ul li {
    float: left;
    margin: 8px;
    text-align: center;
    padding: 14px 16px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem;
    height:80vh;
}
main {
    width: 100vw;
}
section {
    padding: 4rem;
}
h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.parcours {
    display: flex;
    max-width: 100vw;
    justify-content: space-around;
    align-items:flex-start;
    margin: 4rem;
}
.xp, 
.etudes {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
.sectionTrois {
    padding: 0;
    text-align: center;
}
.competences {
    display: flex;
    justify-content: space-around;
}
.date {
    margin: 0 auto;
}
.footer,
.contact {
    margin: 1rem;
}
/* Profile pic*/
#photo-header {
    width: 400px;
    border-radius: 30%;

}
/*Font size*/
header h1 {
    font-size: 65pt;
}
header p {
    font-size: 20pt;
}
.parcours p,
.parcours h3 {
    font-size: 20pt;
}
.why p,
.about p {
    font-size: 14pt;
}
/*Font color*/
.date,
.langues h3,
.languages h3 {
    color:rgb(79, 44, 28);

}
header  {
    color: rgb(252, 252, 252);

}
.xp,
.email,
.telephone,
*footer,
.sectionTrois h2 {
    color: #3E1E17;
}
.etudes, 
.about {
    color: rgb(194, 157, 123);
}
.why {
    color:antiquewhite;
}
/* Background color*/
.xp, 
.why,
footer {
    background-color:rgb(194, 157, 123);

}
.sectionTrois {
    background-color:rgba(147, 119, 99, 0.65);
}
.etudes {
    background-color: antiquewhite;

}